
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h1>Eat Da Burger- A Burger Planner!</h1>
          <p>Welcome to Eat Da Burger- the only app that helps you keep track of burgers you want to eat and burgers you already ate!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Burgers to Eat</span>
          {{#each burgers}}
        <div class="card">
          <div class="card-image">
            <img class="cardImage" src={{this.burger_img}}>
            <span class="card-title">{{this.burger_name}}</span>
          </div>
          <div class="card-action group">
            <a class="waves-effect waves-light btn left" data-id={{this.id}} id="link" href={{this.burger_res}}>Recipe</a>
            <button class="waves-effect waves-light btn right">Ate it!</button>
          </div>
        </div>
        {{/each}}
        </div>
      </div>
    </div>
     <div class="col m6 s12">
       <div class="card">
         <div class="card-content">
           <span class="card-title">Burgers you ate! </span>
             {{#each eatenBurgers}}
        <div class="card">
          <div class="card-image">
            <img class="cardImage" src={{this.burger_img}}>
            <span class="card-title">{{this.burger_name}}</span>
          </div>
          <div class="card-action group">
            <a class="waves-effect waves-light btn left" id="link" href={{this.burger_res}}>Recipe</a>
          </div>
        </div>
        {{/each}}
         </div>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content group">
          <h2>Search for a new burger!</h2>
            <textarea type="text" id="burgerText" name="burger"></textarea>
            <p>Warning! you can only add one burger at a time, so choose wisely</p>
            <button id="search">search burgers!!</button>
          <div class="card-action" id="area"></div>
         
        </div>
      </div>
    </div>
  </div>
</div>





<script>
$(document).ready(function() {

  let search={};

  $("#search").on("click",function(){
    let query=$("#burgerText").val().trim()
    $.ajax({
        url: "https://api.edamam.com/search?q="+query+"&app_id=c359db3b&app_key=c01d784ec3d3816bd43efde5cf935ae4",
        method: "GET",
    }).then(function(response) {
        console.log(response);
        search=response;
        for (let i = 0; i<search.hits.length; i++){
          $("#area").append("<div class='col m6 s12'id='col"+i+"'>");
          $("#col"+i).append("<div class='card'id='card"+i+"'>");
          $("#card"+i).append("<div class='card-image'id='cardimg"+i+"'>");
          $("#cardimg"+i).append("<img class='cardImage' src='"+search.hits[i].recipe.image+"' width='200'>");
          $("#cardimg"+i).append("<span class='card-title'>"+search.hits[i].recipe.label+"</span>")
          $("#card"+i).append("<div class='card-action group'id='cardAction"+i+"'>");
          $("#cardAction"+i).append("<a class='waves-effect waves-light btn left' id='addCard' data-link='"+search.hits[i].recipe.url+"' data-image='"+search.hits[i].recipe.image+"' data-name='"+search.hits[i].recipe.label+"'>Add it!</a>");
          $("#cardAction"+i).append("<a class='waves-effect waves-light btn right' href='"+search.hits[i].recipe.url+"'>Recipe</a>");
      }
  })
  })

$(document).on("click", "#addCard", function(){

let burgerLink = $(this).data("link");
let burgerImage= $(this).data("image");
let burgerLabel= $(this).data("label");

let newBurger={link:burgerLink, image: burgerImage, label: burgerLabel}

$.ajax("/api/addBurger", {
      type: "POST",
      data:newBurger
    }).then(
      function(){
        console.log("added burger");
        location.reload();
      })

})


})


</script>





