
 <nav>
    <div class="nav-wrapper amber lighten-1">
      <a class="brand-logo center">🍔 EatDaBurger</a>
    </div>
  </nav>

<div class="container section">
  <div class="row">
    <div class="col s12">
      <div class="card square">
        <div class="card-content">
          <h3>Eat Da Burger- The world's first burger planner!</h3>
            <div class="divider"></div>
          <h6 class="section">Welcome to Eat Da Burger- the only app that helps you keep track of burgers you want to eat and burgers you already ate!</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l6 m12">
      <div class="card square results">
        <div class="card-content">
          <span class="card-title">Burgers to Eat</span>
          <div class="divider"></div>
          {{#each burgers}}
        <div class="card">
          <div class="card-image">
            <img class="cardImage" src={{this.burger_img}}>
            <span class="card-title">{{this.burger_name}}</span>
          </div>
          <div class="card-action group">
            <a class="waves-effect waves-light btn left green" target="_blank" id="link" href={{this.burger_res}}>Recipe</a>
            <button class="waves-effect waves-light btn right remove amber lighten-1" data-id={{this.id}}>Ate it!</button>
          </div>
        </div>
        {{/each}}
        </div>
      </div>
    </div>
     <div class="col l6 m12">
       <div class="card square results">
         <div class="card-content">
           <span class="card-title">Burgers you Ate </span>
              <div class="divider"></div>
             {{#each eatenBurgers}}
        <div class="card">
          <div class="card-image">
            <img class="cardImage" src={{this.burger_img}}>
            <span class="card-title">{{this.burger_name}}</span>
          </div>
          <div class="card-action group">
            <a class="waves-effect waves-light btn left green" target="_blank" id="link" href={{this.burger_res}}>Recipe</a>
          </div>
        </div>
        {{/each}}
         </div>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card square">
        <div class="card-content group">
          <h4>Search for a new burger!</h4>
          <div class="input-field col s12">
            <textarea type="text" id="burgerText" name="burger" class="materialize-textarea"></textarea>
            <label for="burgerText">Burger</label>
          </div>
            <h6>Warning! you can only add one burger at a time, so choose wisely</h6>
            <button class="waves-effect waves-light btn right section amber lighten-1" target="_blank" id="search">search burgers!!</button>
            </div>
          <div class="card-action group" id="area"></div>
         
        
      </div>
    </div>
  </div>
</div>

<footer class="page-footer amber lighten-1">
    <div class="container">
    © 2018 S.Goldfinger
    </div>
</footer>





<script src="../public/JS/index.js" ></script>





